# General Ignore
*.obsidian
*.Rhistory
TODO
**/*tmp*/ 
*.pyc
**/Lecture Reference/*
**/Data Programming - materials-main/*


# Ignore to clean the directory
**/*61 A*/homeworks/*
!**/*61 A*/homeworks/hw02.py


